<!-- <!DOCTYPE html> -->
<html>
<Button
  defaultBackground={"rgba(10, 20, 255, 1.00)"}
  font={true}
  fontFamily={"noto sans"}
  fontSize={17}
  hoverBackground={"#8914FF"}
  pressedBackground={"#BB8DFF"}
  radius={2}
  text={"E-post"}
  whileHoverScale={1}
  whileTapScale={0.99}
  {/* Using default values */}
  alignment={"center"}
  defaultTextColor={"#ffffff"}
  disabled={false}
  disabledBackground={"#f3f3f3"}
  disabledTextColor={"#AAAAAA"}
  hoverTextColor={"#ffffff"}
  onClick={undefined}
  onMouseEnter={undefined}
  onMouseLeave={undefined}
  padding={10}
  pressedTextColor={"#ffffff"}
  shadow={false}
  variant={"Default"}
/>
</html>
